.text-center
  %h1 Welcome to The first Book Web Game!
  -if defined? (error_message) and error_message
    .alert.alert-error
      = error_message

  %form.spacer{ method: "post", role: "form" }
    .row
      .form-group
        %label{ for: "username" } Username:
        .col-xs-3.centered
          %input.form-control{ id: "username", type: "text", name: "username", required: true }
    .row
      .form-group
        %label Password:
        .col-xs-3.centered
          %input.form-control{ type: "password", name: "password", required: true}
    .row
      %button.btn.btn-success{ type: "submit" } Login

  %p.spacer
    Still don't have an account?
    %a{ href: "/register" } Register
    now!